body {
  width: 80%;
  margin: auto;
  font-family: sans-serif; }
  body img {
    box-shadow: 0 2px 6px 0 lightgrey; }
  body #nav {
    font-size: 10px;
    color: gray;
    padding: 1em; }
  body #header {
    padding-bottom: 0.25em;
    border-bottom: 1px solid gray; }
  body #main {
    margin-top: 0.25em;
    line-height: 1.5;
    font-size: 18px; }
    body #main h4 {
      color: #4d4d4d; }
    body #main .bio_link {
      font-style: italic;
      font-size: small; }
    body #main .screen_shot {
      max-width: 30%;
      border: 1px solid gray; }
    body #main .note {
      color: #333333;
      font-style: italic; }
    body #main .example {
      border-radius: 1em;
      font-size: 80%;
      line-height: 1.6;
      margin: 2em 0;
      padding: 2.5em;
      background: #F0F2F4;
      overflow: auto;
      font-family: monospace; }
  body .comic_wrap {
    display: none; }
    @media all and (min-width: 1000px) {
      body .comic_wrap {
        float: right;
        display: block;
        max-width: 40%;
        margin-left: 3em; }
        body .comic_wrap .caption {
          font-size: 0.85em;
          font-style: italic; } }

ul.no-bullets {
  list-style-type: none; }
  ul.no-bullets li {
    margin-left: -2.5em; }

.profiles {
  display: flex;
  flex-direction: column;
  padding-left: 0; }
  .profiles li {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em; }
  @media all and (min-width: 700px) {
    .profiles {
      flex-direction: row;
      justify-content: space-between; }
      .profiles li {
        width: 30%; } }
  @media all and (min-width: 700px) {
    .profiles .image_wrap {
      width: 100%;
      height: 300px;
      overflow: hidden; } }
  .profiles .pronouns {
    font-style: italic; }

.install .instruct {
  counter-reset: section;
  padding-left: 0; }
  .install .instruct .step::before {
    counter-increment: section;
    content: counter(section); }
  .install .instruct .step {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em; }
    .install .instruct .step .text {
      margin-left: 0.5em;
      flex-grow: 2;
      min-width: 50%; }
    .install .instruct .step img {
      margin-left: 3em; }

.install .example {
  margin: 0.5em 0 !important; }

.install .homebrew {
  margin-bottom: 1em; }
